body{
    margin:0;
    height:100vh;
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    font-family: Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    animation: bgMove 10s infinite alternate;
}

@keyframes bgMove{
    0%{background-position:0%;}
    100%{background-position:100%;}
}

.container{
    width:400px;
    text-align:center;
    padding:30px;
    background:rgba(0,0,0,.6);
    border-radius:15px;
    box-shadow:0 0 30px rgba(0,0,0,.6);
}

.search-box input{
    width:70%;
    padding:10px;
    border:none;
    border-radius:20px;
}

.search-box button{
    padding:10px 15px;
    border:none;
    border-radius:20px;
    background:#ff9800;
    color:black;
    cursor:pointer;
}
.search-box button:hover{
    background:#ffc107;
    transform: scale(1.05);
    transition: 0.3s;
}


.movie{
    margin-top:20px;
    animation: fade 1s ease;
}

@keyframes fade{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}
.movie:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

.movie img{
    width:200px;
    border-radius:10px;
}
